In [4]:
name = 'mike'
print(name)
type(name)
print(type(name))

mike
<class 'str'>

In [7]:
name = input('enter your name: ')
print('welcome ' + name)

welcome Steve

In [3]:
a = True
b = 'True'

In [4]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

#### Typecasting

In [16]:
var = 2
type(var)

var_2 = float(var)

print(var_2)

accuracy = 91.2
acc = int(accuracy)


print(type(acc))

print(accuracy)
     #or
print(str(accuracy))

2.0
<class 'int'>
91.2
91.2

In [8]:
var1 = float(var)
type(var1)

float

In [17]:
var = 2.9
var_int = int(var)
print(var_int)

2

In [29]:
int(var)

2

In [13]:
var = 2
new_var = str(var)

In [14]:
new_var

'2'

In [15]:
type(new_var)

str

In [50]:
int("2")

2

In [12]:
# Convert a float value inside a string variable to Integer

int("2.2")

2

In [13]:
int(float("2.5"))

2

In [37]:
string_var = "2.5"
int(string_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [40]:
string_var = "2.5"
int_var = int(string_var)
print(int_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [41]:
string_var = "2.5"
float_var = float(string_var)
int_var = int(float_var)
print(int_var)

2

In [43]:
string_var = "3.1" 
int_var = int(float(string_var))
print(int_var)

3

In [22]:
float("2.2")

2.2

In [23]:
str(1)

'1'

In [15]:
# string to int for float number
string_var = "4.56"
int(float(string_var))

4

In [41]:
string_var='ABCDEFGH'
['A','B','C','D','E','F','G''H'] # list of chars of string_var

print("Normal indexing: ")
print(string_var[0]) # = 1st char of string
print(string_var[2])
print(string_var[len(string_var)-1]) # = Last char of string

print("--------")

print("Negative Indexing:")

print(string_var[-1]) # = Last char of string
print(string_var[-2])
print(string_var[-(len(string_var))]) # = First char of string

Normal indexing:
A
C
H
--------
Negative Indexing:
H
G
A

In [2]:
string_var = 'HELLO'

'H'

In [37]:
string_var[0]

'A'

In [39]:
string_var[-5]

'D'

In [34]:
string_var[0] = 'Y' #Strings are immutable

TypeError: 'str' object does not support item assignment

In [25]:
print(string_var)

ABCDEFGH

In [50]:
print(string_var[2])

C

In [51]:
string_var[2]='t'

TypeError: 'str' object does not support item assignment

In [45]:
string_var='ABtDEFGH' #Changing value of string variable allows changes to be made to string
string_var

'ABtDEFGH'

In [46]:
type(string_var)

str

In [47]:
x = 3.5
print(float(int(x)))

3.0

In [56]:
x=3.5
int(x)
float(int(x))

3.0

In [48]:
Satyajit = 5

In [49]:
name = 'Saurav'
print(name)

Saurav