## Lists

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [1]:
list1 = ["India", 5, "Delhi"]

In [1]:
my_info = ["Aryan" , 18, "Ireland" , "Male"] 
print(my_info)

['Aryan', 18, 'Ireland', 'Male']

In [3]:
list1 = ["India", 5, "Delhi"]
print(len(list1)) # len() gets no. of elements/chars in list/string
print(type(list1)) #Checks if a variable is a list

3
<class 'list'>

In [7]:
#Nested list - List within a List

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]
len(list2)
print(list2[-1][1]) #Negative indexing - Same as in Strings
print(list2[4][1]) #Accesing last element in 5th element of list2

Chennai
Chennai

In [8]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [10]:
list2[-1][1]

'Chennai'

In [11]:
list2[4][1]

'Chennai'

In [11]:
#Indexing

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

print(list2[0])
print(list2[-1][-2]) # -1 = last element of list 2 
# -2 = 2nd last element of last element of list2

India
Rajkot

In [13]:
#Negative Slicing (A way to access data structures from the back)

list2[-1]

['Rajkot', 'Chennai']

In [ ]:
list2 = ["India", "Delhi", 5, 10, ("Rajkot", "Chennai")]

In [101]:
list2[4][0]

'Rajkot'

In [14]:
#String concateneation - Joinning 2 strings together via '+'

str1 = "Hello"
str2 = "World"

print(str1)
print(str2)
print(str1 + str2) #Concatenation with no spaces
print(str1 + " " + str2) #Concatenation with spaces

Hello
World
HelloWorld
Hello World

In [15]:
#List Concat - Making two lists into one
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2

print(new_list) # [1,2,3,4,5,6,7,8]
print(len(new_list))

[1, 2, 3, 4, 5, 6, 7, 8]
8

In [16]:
len(new_list)

8

In [17]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
#Add two elements to an existing list
list3 = [1,2,3,4]
list4 = [5,6]
new_list = list3 + list4
print(new_list)

[1, 2, 3, 4, 5, 6]

In [17]:
#Membership in lists & tuples

# in keyword for Arrays : Checks if an element is in a list. Prints boolean state

list3 = [1,2,3,4]
print(1 in list3) 
print(5 in list3)

True
False

In [22]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

#### Mutability

In [26]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

print(list1)

print(list1[3])

list1[3] = 'Computer Science' # Mutability via changing a specififed element

print(list1)

print(list1[3])

['Maths', 'Physics', 'Chemistry', 'Biology']
Biology
['Maths', 'Physics', 'Chemistry', 'Computer Science']
Computer Science

In [27]:
print(list1)

[1, 2, 3, 4]

In [30]:
#extend() function --> It extends the list
# by adding elements from another list

list1 = [1,2,3,4]
list1.extend([5,6])

print(list1) #[1,2,3,4,5,6] 5 and 6 are added to end of list
len(list1)

[1, 2, 3, 4, 5, 6]

6

In [31]:
#append() function --> Adds a single element to the end of the list
# This means that an element such as a list becomes the 5th element in its entirety

list1 = [1,2,3,4]
list1.append([5,6])
print(list1) # [1,2,3,4[5,6]] Here [5,6] is a unique element
print(len(list1))

print(list1[len(list1)-1]) # [5,6] - Accessing the last element of list1

[1, 2, 3, 4, [5, 6]]
5
[5, 6]

In [27]:
#append() function

list1 = [1,2,3,4]
list1.append([5,6])

In [32]:
#del command --> deletes an element from a list

list1 = [1,2,3,4]

print(list1)

del list1[2]
print(list1)

[1, 2, 3, 4]
[1, 2, 4]

In [36]:
#pop() - Deletes the object based on the index value

list1 = [11,22,33,44]

list1.pop(2)

print(list1)

list1.pop() # By default it behaves like pop() operation for stacks LIFO

print(list1)

[11, 22, 44]
[11, 22]

In [34]:
list1 = [11,22,33,44]

list1.remove(22)
list1

[11, 33, 44]

In [ ]:
#pop() - By default, it deletes the last object from the list
#pop takes index as an input

list1 = [1,2,3,4]

list1.pop(2)
list1

In [ ]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [40]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [43]:
A.sort(reverse=True)
A

[9, 5, 2]

#### Difference between sort & sorted

In [47]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [49]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [50]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

#### shallow copy

In [53]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

['Oranges', 'Strawberry', 'Mango']
['Oranges', 'Strawberry', 'Mango']

In [54]:
A.pop()

'Mango'

In [55]:
A

['Oranges', 'Strawberry']

In [56]:
B

['Oranges', 'Strawberry']

In [61]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]
print(B)

['Oranges', 'Strawberry', 'Mango']

In [58]:
A.pop()

'Mango'

In [59]:
A

['Oranges', 'Strawberry']

In [60]:
B

['Oranges', 'Strawberry', 'Mango']

## Questions

#### Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.


Sample Input:
('Monty Python', 'British', 1969)

Sample Output:
('Monty Python', 'British', 1969, 'Python')

In [62]:
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
#Tuple Concatenation
tuple_new2 = tuple_new + (a,)

In [63]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [142]:
type(tuple_new2)

tuple

In [64]:
tuple_new = ('Monty Python', 'British', 1969)
list_new = list(tuple_new)
list_new.append('Python')
tuple_new2 = tuple(list_new)

In [65]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [146]:
type(tuple_new2)

tuple

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

In [69]:
input_str = 'Kumar_Ravi_003'

print(input_str[6:10])
print(input_str[0:5])
print(input_str[-3:])

Ravi
Kumar
003

In [ ]:
Ravi
Kumar
003

In [70]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')

In [71]:
list1

['Kumar', 'Ravi', '003']

In [149]:
print(list1[1])
print(list1[0])
print(list1[2])

Ravi
Kumar
003

### Questions

#### Question 1: A List and a Tuple Together?
#### Question 2: Indexing from the End
- Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

#### Question 3: I Lost Everything!
- word = ['1','2','3','4']
- word[ : ] = [ ] 
- print(word)

#### Sorted List
- Consider the following list:
- L = ['one','two','three', 'four', 'five', 'six']
- print(sorted(L))
- print (L)

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [74]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]